@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

:root {
  --font-family: Karla, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(35, 35, 51);
}

.App {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 0px;
  min-height: 600px;
  max-height: 90vh;
  min-width: min-content;
  max-width: 600px;
  color: black;
  background: #f5f7fb;
  overflow: clip;
  border-radius: 5%;
}

.top-blob {
  position: absolute;
  right: 0px;
}

.bottom-blob {
  position: absolute;
  rotate: 180deg;
  bottom: 0px;
  left: 2px;
}

.content-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
}

.logo {
  position: absolute;
  top: 80px;
  height: 20vmin;
  animation: rotate 10s infinite linear;
  border: none;
  opacity: 0.5;
}

.setup-title {
  margin-top: 60px;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.title {
  margin-bottom: 12px;
}
.description {
  margin-top: 0px;
  margin-bottom: 30px;
}

.start-quiz {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  width: 150px;
  height: 25px;
  color: white;
  border-radius: 10px;

  transition: box-shadow 0.5s ease-in;
  transition: background-color 0.5 ease-in;
  transition: animation 0.5s ease-out;
  animation: change alternate infinite 6s ease;
}

@keyframes change {
  from {
    background-color: rgb(82, 177, 209);
  }
  to {
    background-color: rgb(240, 204, 158);
  }
}

.start-quiz:hover {
  animation: none;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  background: rgb(199, 15, 199);
  cursor: pointer;
}

.start-quiz:active {
  box-shadow: inset 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.questions {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  transition: all ease-in 1s;
  opacity: 1;
}

.quiz {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(65, 62, 62, 0.3);
}

.question {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0px;
}

.choices {
  display: flex;
  align-items: center;
  justify-items: center;
}

.choice {
  padding: 5px;
  font-size: 0.8rem;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease-in;
}

.choice:hover {
  cursor: pointer;
}

.chosen {
  background: rgb(36, 173, 228);
  border: none;
  color: white;
}

.check-answers {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 10px;
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 10px;
  background-color: rgb(165, 44, 165);
}

.check-answers:hover {
  cursor: pointer;
}

.choice.correct {
  background-color: rgb(59, 194, 59);
  color: white;
  border: none;
}

.wrong {
  background-color: red;
  color: white;
  opacity: 0.3;
  border: none;
}

.not-chosen {
  background-color: grey;
  opacity: 0.3;
  border: none;
  color: white;
}

.outcome {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  font-style: italic;
}

.loading {
  animation: text-color infinite alternate 2s;
}

@keyframes text-color {
  0% {
    color: black;
  }
  30% {
    color: lightblue;
  }
  50% {
    color: rgb(240, 204, 158);
  }
  to {
    color: rgb(82, 177, 209);
  }
}

.faster {
  animation: faster-spin 2s infinite ease alternate;
}
@keyframes faster-spin {
  from {
    opacity: 0.3;
    rotate: 0deg;
  }
  to {
    opacity: 0.7;
    rotate: 360deg;
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 150px;
  width: 50%;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  display: block;
  margin-bottom: 10px;
  max-width: fit-content;

  font-family: var(--font-family);
}

button {
  display: block;
  font-family: var(--font-family);
  width: 150px;
  height: 50px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  transition: all 0.2s ease-in;
  background-color: rgb(36, 173, 228);
  color: white;
  border-radius: 10px;
  font-size: medium;
}

button:hover {
  translate: 0px 0px 10px;
  width: 200px;
  height: 60px;
  filter: brightness(0.9);
}

.game {
  overflow-y: scroll;
}

.change-difficulty {
  width: 200px;
}

.game-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  width: 100%;
}
